*

!/.gitignore
!/.gitattributes

!/LICENSE.txt

!/.vscode/
!/.vscode/settings.json
!/.editorconfig

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml

!/CMakeLists.txt
!/cmake/
!/cmake/**/
!/cmake/**/*.cmake
!/project.yml

!/.clang-format
!/.clang-tidy

!/.nvmrc
!/package.json
!/package-lock.json
!/cSpell.json

!/Doxyfile

!/docker/
!/docker/*.dockerfile

!/scripts/
!/scripts/**/*.sh

!/src/
!/src/CMakeLists.txt
!/src/**/*.cpp
!/src/**/*.hpp
